.t-post-list {
  padding-bottom: $grid-base * 5;
  padding-top: $grid-base * 5;
  margin: 0 auto;
  text-align: center;
  
  @include large-up {
      padding-bottom: $grid-base * 12;
      padding-top: $grid-base * 11;
      max-width: 800px;
  }

  &__divider {
    color: $white;
    display: block;
    font-size: $font-size-5;
    font-weight: 700;
    margin: $grid-base * 2;
  
  @include medium-up {
    display: inline-block;
    }
  }
}