.t-promoted {
  align-items: center;
  background: url('../../images/header-tlo.jpg') 0 0 no-repeat;
  display: flex;
  height: 100vh;
  
  
  &__btn {
    background-color: transparent;
    border-radius: $border-radius;
    // box-shadow: 1px 1px 1px 2px #bbbbbb;
    color: darken($white, 15%);
    border: 1px solid darken($white, 15%);
    color: $white;
    flex-direction: column;
    font-size: $font-size-3;
    font-weight: 700;
    line-height: $line-height-lg;
    margin: auto;
    padding: 4rem 6rem ;
    text-align: center;
    text-transform: uppercase;
    transition: all .25s ease-in-out;

  &:hover {
      color: darken($white, 15%);
      border: 3px solid darken($white, 15%);
  }
}

  &__content {
    margin: auto;
  }
}