.t-site-header {
  background: url('../../images/map.png') center content-box no-repeat, $blue-gradient;
  // background: url('../../images/header-tlo.jpg') 0 0 no-repeat;

  padding-bottom: $grid-base * 20;
  padding-top: $grid-base * 8;
}

