.o-col {
  width: 100%; // wszystkie kolumny na małych urządzeniach zaczynają od 100%
  padding-left: $gutter; // padding po lewej ~15px
  padding-right: $gutter;

  //Zapytanie o media aby uzyskać modyfikacje bazowego zachowania
  //powójna kreska wprowadza modyfikator '--', medium -> średnie urządzenia stąd literka 'm', natomiast liczba '50' pozwoli uzyskać dwie kolumny obok siebie
  // &--md25 { 
  //   @include medium-up {
  //     flex: 0 0 25%;
  //     max-width: 25%;
  //   }
  // }

  // &--md33 { 
  //   @include medium-up {
  //     flex: 0 0 33.3333%;
  //     max-width: 33.3333%;
  //   }
  // }

  &--md50 { 
    @include medium-up {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  // Urządzenia duże 'lg' 
  &--lg25 { 
    @include large-up {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  // &--lg33 { 
  //   @include large-up {
  //     flex: 0 0 33.3333%;
  //     max-width: 33.3333%;
  //   }
  // }

  // &--lg50 { 
  //   @include large-up {
  //     flex: 0 0 50%;
  //     max-width: 50%;
  //   }
  // }
}

// o-col--md50 klasa elementu zewntęrznego wraz z klasą elementu wewnętrznego