.c-btn {
  border: none;
  border-radius: $border-radius;
  display: inline-block;
  font-size: $font-size-5;
  font-weight: 700;
  line-height: $line-height-base;
  padding: .75rem 0;
  text-align: center;
  text-transform: uppercase;
  transition: all .25s ease-in-out;
  width: $grid-base * 28;

  cursor: pointer;
  box-shadow: 0 1px 1px #bbbbbb;

  margin-top: $gutter;
    margin-bottom: $gutter;  
    margin-left:$gutter*2;
    margin-right: $gutter*2;

  &:hover {
      text-decoration: none;
  }

  &--light {
    background-color: $white;
    color: $blue-text;

    &:hover {
        background-color: darken($white, 15%);
        color: $blue-text;
    }
}

  &--accent {
    background-color: $green;
    color: $white;

    &:hover {
        background-color: darken($green, 15%);
        color: $white;
    }
  }

  &--outline {
    background-color: transparent;
    border: 2px solid $white;
    color: $white;
    
    &:hover {
        color: darken($white, 15%);
        border: 2px solid darken($white, 15%);
    }
  }

  
}